*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
}
.navbar{
    display: flex;
	justify-content: space-between;
	align-items: center;
    padding-top: 1rem;
	/* margin-top: 30px; */
    background-color: cornflowerblue;
}

.icon{
    margin-left: 89%;
	cursor: pointer;
    height: 30px;
}

.nav-menu{
    position: fixed;
	width: 100%;
	top: 2.5rem;
    background-color: cornflowerblue;
	font-weight: bold;

}
.nav-menu a{
	display: block;
	text-align: center;
	padding: 5px 10px;
}
.hide{
	display: none;
}


.counter{
    position: relative;
    margin-left: 45%;
    margin-top: 18%;
    display: none;
}
#heading{
    font-size:3em;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
#value{
    font-size:4em;  
    margin-left: 80px;
    font-weight: bold;
}
#btn{
    margin-left: -10%;
    margin-top: 20px;
    gap: 50px;
}
.decrease{
    background-color: #e9eeee;
    border-color: black;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bold;
}
.reset{
    background-color: #e9eeee;
    border-color: black;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bold;
}
.increase{
    background-color: #e9eeee;
    border-color: black;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bold;
}
.b:hover{
    background-color: black;
    color: #fff;
}

#box{
    height: 300px;
    width: 450px;
    background-color: azure;
    border-radius: 20px;
    position: relative;
    top: 25vmin;
    left: 35%;
    box-shadow: 0px 0px 10px black;
    background-image: linear-gradient(170deg, red, blue);
    display: none;
}
#myBtn{
    position: relative;
    top: 45%;
    left: 40%;
    background-color:darkorange;
    border:none;
    border-radius: 20px;
    width: 20%;
    height: 30px;
    color: #fff;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 250px;
    left: 0%;
    top: 0%;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.4);

}
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
width: 30%;
}

#close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

#close:hover,
#close:focus {
color: #000;
text-decoration: none;  
cursor: pointer;
}

@media screen and (min-width:600px){
    .navbar{
		justify-content: space-around;
        padding-top: 10px;
        margin: 0px;
	}
	.nav-menu{
		display: block;
		position: static;
		width: auto;
        align-items: center;
		margin-right:20px;
	}
	.nav-menu a{
        padding-top: 0px;
        display: inline-block;
        margin-top: 0px;

	}
	.icon{
		display: none;
        margin-left: 150px;
        margin-top: 100px;	
    }
    .counter{
        margin-left: 45%;
        margin-top: 18%;
    }
    #heading{
        margin-left: -30px;
    }
    .decrease, .increase, .reset{
        width: 120px;
        letter-spacing: 3px;
    }
    #btn{
        margin-left: -100px;
    }
    #value{
        margin-left: 50px;
    }
}

@media screen and (max-width:600px){
    .counter{
        margin-left: 40%;
        margin-top: 50%;
    }
    #heading{
        margin-left: -40px;
    }
    .decrease, .increase, .reset{
        width: 100px;
        letter-spacing: 1px;
    }
    #btn{
        margin-left: -100px;
    }
    #value{
        margin-left: 50px;
    }
}