* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 1rem; */
    background-color: cornflowerblue;
}
.active{
    background-color: #4674c9;
    color: white;
}
.icon {
    margin-left: 89%;
    cursor: pointer;
    height: 30px;
}

.nav-menu {
    position: fixed;
    width: 100%;
    top: 2.5rem;
    background-color: cornflowerblue;
    font-weight: bold;

}

.nav-menu a {
    display: block;
    text-align: center;
    padding: 5px 10px;
}

.hide {
    display: none;
}


.counter {
    position: absolute;
    top: 38%;
    left: 45%;
    display: none;
}

#heading {
    font-size: 3em;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#value {
    font-size: 4em;
    margin-left: 80px;
    font-weight: bold;
}

#btn {
    padding-top: 20px;
    gap: 50px;
}

.decrease {
    background-color: #e9eeee;
    border-color: black;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bold;
}

.reset {
    background-color: #e9eeee;
    border-color: black;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bold;
}

.increase {
    background-color: #e9eeee;
    border-color: black;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bold;
}

.b:hover {
    background-color: black;
    color: #fff;
}

#box {
    position: relative;
    width: 450px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    background-image: linear-gradient(170deg, red, blue);
    display: none;
}

#myBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4674c9;
    border: none;
    border-radius: 20px;
    width: 35%;
    height: 30px;
    color: #fff;
    cursor: pointer;
    z-index: -1;
}
.modal{
    display: none;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    width: 60%;
    height: 150px;
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#showReview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.head {
    position: relative;
    left: -20px;
    letter-spacing: 2px;
    color: rgb(44, 46, 82);
}

.underline {
    width: 9.5rem;
    height: 2px;
    margin-left: 0px;
    border-radius: 20px;
    background-color: dodgerblue;
}

.box {
    margin-top: 20px;
    height: 350px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px black;
    background-color: rgb(232, 237, 237);
}

#img {
    position: relative;
    width: 100px;
    height: 100px;
    top: 15px;
    left: 40%;
    box-shadow: 5px -3px dodgerblue;
    border-radius: 50%;
}

#author {
    padding-top: 20px;
    margin-left: 43%;
    letter-spacing: 1px;
}

#job {
    margin-left: 45%;
    color: rgb(31, 168, 231);
}

#info {
    padding-top: 20px;
    margin-left: 10px;
}

.btn {
    margin-left: 45%;
    margin-top: 20px;
}

.pre-btn {
    color: dodgerblue;
    background-color: rgb(232, 237, 237);
    margin-right: 30px;
    border: none;
    cursor: pointer;
}
.pre-btn:hover, .next-btn:hover{
    color: #000;
}

.next-btn {
    color: dodgerblue;
    background-color: rgb(232, 237, 237);
    border: none;
    cursor: pointer;
}
#showTable{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
}

.tbl,td{
    border: 2px solid black;
    height: 35px;
    width: 500px;
    text-align: center;
}
th{
    border: 2px solid black;
    height: 50px;
}
#showForm{
    display: none;
}

.form-control{
    padding:5px 15px;
    margin: 15px 10px 0 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    cursor:text;
}

.radiobtn{
    cursor: pointer;
    margin: 0 0 0 15px;
    width: 20px;
}

.stdhead{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stdtbl{
    position: absolute;
    top: 60%;
    width: 50%;
    left: 25%;
    border: 2px solid black;
}
.submitbtn{
    background-color: #5188ee;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin-left: 35%;
    cursor: pointer;
}

@media screen and (min-width:600px) {
    .navbar {
        justify-content: space-around;
        margin: 0px;
    }

    .nav-menu {
        display: block;
        position: static;
        width: auto;
        align-items: center;
        margin-right: 20px;
    }

    .nav-menu a {
        padding-top: 0px;
        display: inline-block;
        margin-top: 0px;

    }

    .icon {
        display: none;
        margin-left: 150px;
        margin-top: 100px;
    }

    #heading {
        margin-left: -30px;
    }

    .decrease,
    .increase,
    .reset {
        width: 120px;
        letter-spacing: 3px;
    }

    #btn {
        margin-left: -120px;
    }

    #value {
        margin-left: 50px;
    }

    #box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .head {
        margin-left: 40%;
    }

    .box {
        left: 30%;
    }

    #showHome {
        align-items: center;
        margin-left: 20%;
        margin-top: 10%;
    }
    
    .std{
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    

}

@media screen and (max-width:600px) {
    .navbar{
        padding-top: 10px;
    }
    .icon {
        width: 100%;
    }

    .counter {
        position: absolute;
        top: 45%;
        left: 40%;
    }

    #heading {
        margin-left: -40px;
    }

    .decrease,
    .increase,
    .reset {
        width: 100px;
        letter-spacing: 1px;
    }

    #btn {
        margin-left: -100px;
    }

    #value {
        margin-left: 50px;
    }

    #box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 250px;
    }

    #myBtn {
        width: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .head {
        position: relative;
        top: -150px;
    }

    .box {
        margin-top: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 350px;
    }

    #showHome {
        margin-top: 30%;
        margin-left: 15%;
        padding-top: 10%;
    }

    #showTable{
        display: none;
    }

    .tbl,td{
        width: 350px;
    }

    .stdhead{
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .std{
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .form-control{
        padding: 3px;
        margin: 2px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px black;
    }

    .radiobtn{
        margin: 0px;
    }

    .stdtbl{
        position: absolute;
        top: 75%;
        width: 0%;
        left: 15%;
    }
    .submitbtn{
        padding: 8px 15px;
        margin-top: 10px;
    }

}